/* Custom CSS */
/* grid layout reverse */
@media screen and (min-width: 992px) {
	[data-order-desktop-first='true'] {
		order: -1;
	}
	[data-order-desktop-last='true'] {
		order: 2;
	}
}
@media screen and (min-width: 768px) {
	[data-order-tablet-first='true'] {
		order: -1;
	}
	[data-order-tablet-last='true'] {
		order: 2;
	}
}
/* align items */
[data-align-items-start='true'] {
	align-items: start !important;
}
[data-align-items-center='true'] {
	align-items: center !important;
}
[data-align-items-end='true'] {
	align-items: end !important;
}
/* justify content */
[data-justify-content-start='true'] {
	justify-content: start !important;
}
[data-justify-content-center='true'] {
	justify-content: center !important;
}
[data-justify-content-end='true'] {
	justify-content: end !important;
}
[data-justify-content='top'] {
	justify-content: start !important;
}
[data-justify-content='center'] {
	justify-content: center !important;
}
[data-justify-content='bottom'] {
	justify-content: end !important;
}
/* text align */
[data-text-align-left='true'] {
	text-align: left !important;
}
[data-text-align-center='true'] {
	text-align: center !important;
}
[data-text-align-right='true'] {
	text-align: right !important;
}
/* max width */
[data-max-width-none='true'] {
	max-width: none !important;
}

.line-y {
	transform: translate(0px, -0.1em);
	min-height: 1.17em;
}

.line-fade {
	font-kerning: none;
}

.char-box {
	position: relative;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
}

.char-box .char {
	position: relative;
	display: inline-block;
}

.char-box .bg-box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: var(--block-decode--background);
	z-index: 1;
	opacity: 0;
}

html.wf-design-mode .cms_item_text {
	display: block;
	opacity: 1;
	visibility: visible;
}

.cms_item_text {
	position: relative;
	display: none;
	opacity: 0;
	visibility: hidden;
}

.cms_item_text.on-card {
	position: relative;
	display: block;
	opacity: 0;
	visibility: visible;
}

.portfolio_cms_item {
	position: relative;
	transition: color 0.25s ease-out; 
}

.cms_item_wrap {
	overflow: hidden;
}

.cms-item-initial {
	opacity: 0;
}

.cms-item-hidden {
	visibility: hidden;
}

.cms_item_wrap::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(
		90deg,
		rgba(56, 108, 243, 0),
		rgba(56, 108, 243, 0.08) 20%,
		rgba(56, 108, 243, 0)
	);
	transition: all 0.25s ease-out;
	opacity: 0;
	z-index: 1;
	pointer-events: none;
}

.portfolio_cms_item.hover-top .cms_item_wrap::before,
.portfolio_cms_item.hover-bottom .cms_item_wrap::before,
.portfolio_cms_item.active .cms_item_wrap::before {
	opacity: 1;
}

.portfolio_cms_item.hover-top .cms_item_wrap::before,
.portfolio_cms_item.active.hover-top .cms_item_wrap::before {
	transform: translateY(0);
	background: linear-gradient(
		90deg,
		rgba(56, 108, 243, 0),
		rgba(56, 108, 243, 0.08) 20%,
		rgba(56, 108, 243, 0)
	);
}

.portfolio_cms_item.hover-bottom .cms_item_wrap::before,
.portfolio_cms_item.active.hover-bottom .cms_item_wrap::before {
	transform: translateY(0);
	background: linear-gradient(
		90deg,
		rgba(56, 108, 243, 0),
		rgba(56, 108, 243, 0.08) 20%,
		rgba(56, 108, 243, 0)
	);
}

.portfolio_cms_item.leave-top .cms_item_wrap::before,
.portfolio_cms_item.leave-bottom .cms_item_wrap::before {
	opacity: 0;
	transform: translateY(-100%);
}

.portfolio_cms_item.leave-top .cms_item_wrap::before {
	transform: translateY(-100%);
}

.portfolio_cms_item.leave-bottom .cms_item_wrap::before {
	transform: translateY(100%);
}

/* Farbänderung für aktive cms_item_row */
.portfolio_cms_item.active .cms_item_row {
	color: var(--swatch--brand);
}

html.wf-design-mode .cms_item_expand {
	min-height: 500px;
	overflow: visible;
	position: relative;
}

.cms_item_expand {
	max-height: 0;
	overflow: visible;
	position: relative;
}

html.wf-design-mode .item_line_base {
	opacity: 1;
}
.item_line_base,
.item_line_inner {
	opacity: 0;
}
.item_line_base.animated,
.item_line_inner.animated {
	opacity: 1;
	transition: opacity 0.5s ease-out;
}
html.wf-design-mode [data-img-expand='true'] {
	clip-path: inset(0 0 0% 0);
	opacity: 1;
}

[data-img-expand='true'] {
	clip-path: inset(0 0 100% 0);
	opacity: 0;
	width: 100%;
}

.item_inner_right_wrap {
	padding-top: 0.25rem;
	max-width: 43ch !important;
}

html.wf-design-mode .page_wrap[data-theme='light'] .nav_toggle_svg.is-light {
	opacity: 1;
}

html.wf-design-mode .page_wrap[data-theme='dark'] .nav_toggle_svg.is-dark {
	opacity: 1;
}

html.wf-design-mode .w-pagination-wrapper.pagination {
	opacity: 1;
	transition: opacity 1s ease-out;
}

.w-pagination-wrapper.pagination {
	opacity: 0;
	margin-top: 3rem;
	transition: opacity 0.4s ease-out;
	transition-delay: 0.015s;
}

.w-pagination-next,
.w-pagination-previous {
	background-color: transparent;
	border: none;
	border-radius: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px 0px;
	font-size: 14px;
	display: block;
}

.filter_search {
	position: absolute; 
	display: flex;
	height: 100%;
	align-items: center;
	padding-bottom: 1px;
}

.search-with-icon {
	padding-right: 32px; 
	background-color: transparent;
	border: none; 
	outline: none; 
	color: var(--swatch--brand-gray-500); 
	max-width: 16ch;
	width: 100%;
}

.search-with-icon::placeholder {
	color: var(--swatch--brand-gray-500); 
}

.search-with-icon:focus {
	border: none; 
	outline: none; 
	color: var(--theme--text); 
}

.search-icon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	width: 16px; 
	height: 16px;
	pointer-events: none; 
}

.filter_search:focus-within .search-icon path {
	fill: var(--swatch--brand);
	transition: 0.3s ease-out; 
}

html.wf-design-mode .portfolio_filter_menu {
	width: auto;
	height: auto;
	opacity: 1;
}
html.wf-design-mode .layout_footer_legal {
	margin-right: 0;
}

.portfolio_list_contain {
	display: block;
	min-height: 60vh;
}

.team_list_contain {
	display: grid;
	grid-auto-flow: dense;
}

/* Standard-Layout für Desktop (min-width: 991px) */
.team_list_item {
	grid-column: auto / span 1;
	grid-row: auto / span 1;
	z-index: 5;
}
.team_list_item.active {
	grid-column: auto / span 2;
	grid-row: auto / span 2;
	z-index: 10;
}

/* Mobile-Layout (max-width: 990px) */
@media (max-width: 990px) {
	.team_list_item.active {
		grid-column: span 1;
		grid-row: span 1;
		z-index: 10;
	}
}

/* Mobile-Layout (max-height: 800px) */
@media (max-height: 800px) {
	.team_list_item.active {
		grid-column: span 1;
		grid-row: span 1;
		z-index: 10;
	}
}

[data-tp='img'] {
	filter: grayscale(100%);
	transition: filter 0.3s ease; 
}

.team_list_item:hover [data-tp='img'] {
	filter: grayscale(0%);
}

.team_list_item.active [data-tp='img'] {
	filter: grayscale(0%); 
}

.layout_narrow_contain {
	min-height: calc(100vh - 4 * 54px);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	border-width: var(--border-width--main) !important;
	/* border-color: var(--swatch--brand) !important; */
	-webkit-box-shadow: 0 0 0px 1000px var(--theme--card-bg) inset !important;
	-webkit-text-fill-color: var(--theme--text) !important;
	transition: background-color 5000s ease-in-out 0s !important;
	color: var(
		--theme--text
	) !important; 
	caret-color: var(
		--theme--text
	) !important; 
}

.form_main_field_input:focus-visible {
	outline: none !important;
}

html.wf-design-mode .form_main_step {
	display: block;
}
.form_main_step {
	will-change: transform, opacity;
	transform: translateZ(0);
}

.w-input {
	border: var(--border-width--main) solid var(--theme--border-alt);
}

.error-message {
	margin-top: 0px;
	font-size: var(--text-small--font-size);
	font-weight: var(--text-tiny--font-weight);
	color: var(--z_color--sys-error-red);
}

.layout_tooltip_wrap {
	font-size: var(--text-tiny--font-size) !important;
	font-family: var(--text-tiny--font-family);
	font-weight: var(--text-tiny--font-weight);
	line-height: var(--text-tiny--line-height);
	letter-spacing: var(--text-tiny--letter-spacing);
}

html.wf-design-mode .layout_card_wrap {
	position: relative;
	display: block;
	opacity: 1;
}

.cms_item_img {
	z-index: 10;
	border-radius: var(--radius--main);
	backface-visibility: hidden;
	transform-origin: 50% 100%;
	transition: transform 0.3s ease-out;
}

html.wf-design-mode .design_gradient_wrap {
	display: block;
}

html.wf-design-mode .layout_ppreview_wrap {
	pointer-events: auto;
}

.legal_nav_item:has(.w--current) .legal_nav_sub_wrap,
.legal_nav_item:hover .legal_nav_sub_wrap,
.legal_nav_wrap.is-3rd-layer
	.legal_nav_item.is-3rd-layer:has(.w--current)
	.legal_nav_sub_wrap,
.legal_nav_wrap.is-3rd-layer
	.legal_nav_item.is-3rd-layer:hover
	.legal_nav_sub_wrap {
	grid-template-rows: 1fr;
}

:root {
	--font--inherit: inherit;
	--font-weight--inherit: inherit;
	--font-weight--100: 100;
	--font-weight--200: 200;
	--font-weight--300: 300;
	--font-weight--400: 400;
	--font-weight--500: 500;
	--font-weight--600: 600;
	--font-weight--700: 700;
	--font-weight--800: 800;
	--font-weight--900: 900;
	--text-transform--none: none;
	--text-transform--uppercase: uppercase;
	--text-transform--capitalize: capitalize;
	--text-transform--lowercase: lowercase;
	--text-transform--inherit: inherit;
	--background--gradient-dark: linear-gradient(
		to bottom,
		var(--swatch--gradient-dark-from),
		var(--swatch--gradient-dark-to)
	);
	--background--gradient-light: linear-gradient(
		to bottom,
		var(--swatch--gradient-light-from),
		var(--swatch--gradient-light-to)
	);
	--background--gradient-pLight: linear-gradient(
			0deg,
			rgba(0, 71, 255, 0.06),
			rgba(0, 71, 255, 0.06)
		),
		#f3f4f5;

	--background--gradient-pDark: linear-gradient(
			0deg,
			rgba(0, 71, 255, 0.06),
			rgba(0, 71, 255, 0.06)
		),
		#1e242f;
}

body {
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	position: relative;
	margin: 0;
	padding: 0;
	ms-overflow-style: none;
	scrollbar-width: none;
	overscroll-behavior-y: none;
}

body::webkit-scrollbar {
	display: none;
}

[data-transition-contain='fade'] {
	opacity: 0;
}

button {
	background-color: unset;
	padding: unset;
	text-align: inherit;
}
img::selection {
	background: transparent;
}
:is(h1, h2, h3, h4, h5, h6, p) a {
	text-decoration: underline;
}
.w-richtext > *:first-child {
	margin-top: 0;
}
.w-richtext > *:last-child {
	margin-bottom: 0;
}
.wf-empty[class*='--'],
video.wf-empty {
	padding: 0;
}
video {
	width: 100%;
	object-fit: cover;
}
svg {
	display: block;
}
section,
header,
footer {
	position: relative;
}

[data-padding-top='none'] {
	padding-top: var(--padding-vertical--none);
}
[data-padding-bottom='none'] {
	padding-bottom: var(--padding-vertical--none);
}

[data-padding-top='small'] {
	padding-top: var(--padding-vertical--small);
}
[data-padding-bottom='small'] {
	padding-bottom: var(--padding-vertical--small);
}

[data-padding-top='main'] {
	padding-top: var(--padding-vertical--main);
}
[data-padding-bottom='main'] {
	padding-bottom: var(--padding-vertical--main);
}

[data-padding-top='large'] {
	padding-top: var(--padding-vertical--large);
}
[data-padding-bottom='large'] {
	padding-bottom: var(--padding-vertical--large);
}
.layout-nav-contain {
	pointer-events: none;
}
.layout-nav-contain > * {
	pointer-events: auto;
}
[data-animate-reveal='true'] {
	opacity: 0;
	visibility: hidden;
}
[data-animate-reveal='true'] .char-box {
	opacity: 0;
}
/* line clamp */
.u-line-clamp-1,
.u-line-clamp-2,
.u-line-clamp-3,
.u-line-clamp-4 {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.u-line-clamp-2 {
	-webkit-line-clamp: 2;
}
.u-line-clamp-3 {
	-webkit-line-clamp: 3;
}
.u-line-clamp-4 {
	-webkit-line-clamp: 4;
}
.custom-substack-widget {
	gap: var(--size--1rem);
	border: none;
	display: inline-flex;
	height: auto;
	width: 100%;
	max-width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden;
	padding: 0;
	font-size: var(--text-regular--font-size);
	line-height: var(--text-regular--line-height);
}
.custom-substack-widget input {
	border: 1px solid var(--z_color--gray-400);
	background-color: var(--z_color--white) !important;
	color: var(--swatch--dark) !important;
	width: 100%;
	max-height: 48px;
	flex: 1 1 170px;
	flex-shrink: 1;
	padding: var(--size--0-5rem) var(--size--0-75rem);
	border-radius: var(--radius--small);
	border-width: var(--border-width--main);
	font-size: var(--text-regular--font-size);
	line-height: var(--text-regular--line-height);
}
.custom-substack-widget button {
	color: var(--button--text);
	background-color: var(--button--background);
	border: 1px solid var(--button--border);
	min-width: 16ch;
	flex: 0 0 0%;
	cursor: pointer;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--radius--small);
	border-width: var(--border-width--main);
	padding: var(--size--0-5rem) var(--size--1-5rem);
	font-size: var(--text-regular--font-size);
	line-height: var(--text-regular--line-height);
	font-weight: var(--text-regular--font-weight);
}

.custom-substack-widget button:hover,
.custom-substack-widget input:focus {
	color: var(--button--border-hover);
	border-color: var(--button--border-hover);
	transition: color 150ms, border-color 150ms;
}
.custom-substack-widget + .error {
	color: var(--z_color--sys-error-red);
	margin: 0.25rem 0 0;
}

/* media queries for substack widget */
@media (max-width: 766px) {
	.custom-substack-widget {
		max-width: 29.9375em;
	}
	.custom-substack-widget input {
		flex: 1 1 100%;
	}
	.custom-substack-widget button {
		flex: 1 1 100%;
	}
}

/* media queries for home portfolio preview */
@media (min-width: 990px) {
	.cms_portfolio_item:nth-child(1) {
		grid-row: 2 / span 2 !important;
		grid-column: 1 / span 1 !important;
	}

	.cms_portfolio_item:nth-child(2) {
		grid-row: 1 / span 2 !important;
		grid-column: 3 / span 1 !important;
	}

	.cms_portfolio_item:nth-child(3) {
		grid-row: 3 / span 2 !important;
	}

	.cms_portfolio_item:nth-child(4) {
		grid-row: 5 / span 2 !important;
		grid-column: 1 / 1 !important;
	}

	.cms_portfolio_item:nth-child(5) {
		grid-row: 4 / span 2 !important;
		grid-column: 3 / 3 !important;
	}
}

html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

html.lenis.lenis-stopped {
	overflow: hidden !important;
	height: 100% !important;
}

body.lenis-stopped {
	overflow: hidden !important;
	height: 100% !important;
}

.lenis.lenis-smooth iframe {
	pointer-events: none;
}

html.wf-design-mode .layout_transition_wrap {
	position: relative;
	display: none;
}
.layout_transition_wrap {
	display: flex;
	background-color: var(--theme--gradient);
	pointer-events: none;
}

.logo_wrap.is-v1,
.logo_wrap.is-v2 {
	display: none;
	opacity: 0;
	transform: translateY(-100%);
}

html.wf-design-moide .logo_wrap.is-v1 {
	display: block; 
	opacity: 1;
	transform: translateY(0%); 
}
html.wf-design-mode .logo_wrap.is-v2 {
	display: block; 
	opacity: 1;
	transform: translateY(0%); 
}

html.wf-design-mode .page_contain {
	opacity: 1;
}
.g_visual_richtext_embed .w-embed {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}


/* CSS Variables */
/* theme light */
:root,
[data-theme='light'],
[data-theme='dark'] [data-theme='invert'] {
	--theme--background: var(--theme--gradient);
	--theme--text: var(--swatch--dark);
	--theme--border: var(--swatch--dark-fade);
	--theme--base: var(--swatch--dark-fade-soft);
	--theme--border-alt: var(--z_color--gray-400);
	--theme--sub-color: var(--swatch--brand-gray-500);
	--theme--footer: var(--z_color--gray-200);
	--theme--card-bg: var(--z_color--gray-100);
	--theme--logo-bg: var(--z_color--gray-100);
	/* button primary */
	--button--background: var(--swatch--transparent);
	--button--text: var(--swatch--dark);
	--button--border: var(--swatch--dark);
	--button--background-hover: var(--swatch--transparent);
	--button--text-hover: var(--swatch--brand);
	--button--border-hover: var(--swatch--brand);
	/* button secondary */
	--button-secondary--background: var(--swatch--transparent);
	--button-secondary--text: var(--swatch--brand-text);
	--button-secondary--border: var(--swatch--transparent);
	--button-secondary--background-hover: var(--swatch--transparent);
	--button-secondary--text-hover: var(--swatch--brand);
	--button-secondary--border-hover: var(--swatch--transparent);
	/* button alternate */
	--button-alternate--background: var(--swatch--dark);
	--button-alternate--text: var(--swatch--light);
	--button-alternate--border: var(--swatch--dark);
	--button-alternate--background-hover: var(--swatch--brand);
	--button-alternate--text-hover: var(--swatch--light);
	--button-alternate--border-hover: var(--swatch--dark);
	/*block primary */
	--block--background: var(--swatch--light-fade-soft);
	--block--border: var(--swatch--light-fade);
	--block--background-hover: var(--swatch--light-fade);
	--block--border-hover: var(--swatch--light);
	/*block secondary */
	--block-secondary--background: var(--swatch--light-fade-soft);
	--block-secondary--border: var(--swatch--light-fade);
	--block-secondary--background-hover: var(--swatch--light-fade);
	--block-secondary--border-hover: var(--swatch--dark-fade);
	/*decode block */
	--block-decode--background: var(--swatch--dark-fade-soft);
	/*Gradient BG*/
	--theme--gradient: var(--background--gradient-light);
	--theme--gradient-ps: var(--background--gradient-pLight);
}

/* theme dark */
[data-theme='dark'],
[data-theme='invert'],
[data-theme='light'] [data-theme='invert'] {
	--theme--background: var(--theme--gradient);
	--theme--text: var(--swatch--light);
	--theme--border: var(--swatch--light-fade);
	--theme--base: var(--swatch--light-fade-soft);
	--theme--border-alt: var(--z_color--gray-600);
	--theme--sub-color: var(--swatch--light);
	--theme--footer: var(--z_color--gray-1100);
	--theme--card-bg: var(--z_color--gray-1000);
	--theme--logo-bg: var(--z_color--gray-800);
	/* button primary */
	--button--background: var(--swatch--transparent);
	--button--text: var(--swatch--light);
	--button--border: var(--swatch--light);
	--button--background-hover: var(--swatch--dark-fade);
	--button--text-hover: var(--swatch--light);
	--button--border-hover: var(--swatch--brand);
	/* button secondary */
	--button-secondary--background: var(--swatch--transparent);
	--button-secondary--text: var(--swatch--light);
	--button-secondary--border: var(--swatch--transparent);
	--button-secondary--background-hover: var(--swatch--transparent);
	--button-secondary--text-hover: var(--swatch--brand);
	--button-secondary--border-hover: var(--swatch--transparent);
	/* button alternate */
	--button-alternate--background: var(--swatch--light);
	--button-alternate--text: var(--swatch--dark);
	--button-alternate--border: var(--swatch--light);
	--button-alternate--background-hover: var(--swatch--brand);
	--button-alternate--text-hover: var(--swatch--light);
	--button-alternate--border-hover: var(--swatch--dark);
	/*block primary */
	--block--background: var(--swatch--light-fade-soft);
	--block--border: var(--swatch--light-fade);
	--block--background-hover: var(--swatch--light-fade);
	--block--border-hover: var(--swatch--brand-gray-500);
	/*block secondary */
	--block-secondary--background: var(--swatch--transparent);
	--block-secondary--border: var(--swatch--light-fade);
	--block-secondary--background-hover: var(--swatch--dark-fade);
	--block-secondary--border-hover: var(--swatch--brand);
	/*decode block */
	--block-decode--background: var(--swatch--light-fade-soft);
	/*Gradient BG*/
	--theme--gradient: var(--background--gradient-dark);
	--theme--gradient-ps: var(--background--gradient-pDark);
}

/* button secondary */
[data-button-style='secondary'] {
	--button--background: var(--button-secondary--background);
	--button--text: var(--button-secondary--text);
	--button--border: var(--button-secondary--border);
	--button--background-hover: var(--button-secondary--background-hover);
	--button--text-hover: var(--button-secondary--text-hover);
	--button--border-hover: var(--button-secondary--border-hover);
}
/* button alternate */
[data-button-style='alternate'] {
	--button--background: var(--button-alternate--background);
	--button--text: var(--button-alternate--text);
	--button--border: var(--button-alternate--border);
	--button--background-hover: var(--button-alternate--background-hover);
	--button--text-hover: var(--button-alternate--text-hover);
	--button--border-hover: var(--button-alternate--border-hover);
}
/* box secondary */
[data-block-style='secondary'] {
	--block--background: var(--block-secondary--background);
	--block--border: var(--block-secondary--border);
	--block--background-hover: var(--block-secondary--background-hover);
	--block--border-hover: var(--block-secondary--border-hover);
}


:is(c, :where([data-theme]:not([data-theme='inherit']))) {
	background-color: var(--theme--background);
	color: var(--theme--text);
}

[data-svg-hover='true'] {
	cursor: pointer;
}
[data-svg-hover='true']:hover {
	fill: var(--swatch--brand);
}

select#select-1 {
	background-color: var(--theme--background);
	color: var(--theme--text);
	border: var(--border-width--main) solid var(--theme--border);
}

.layout_sticky_ellipse,
.card_visual_elipse,
.card_visual_elipse_1,
.card_visual_elipse_2,
.design_gradient_wrap {
	display: none;
}

.page_wrap[data-theme='dark'] .layout_sticky_ellipse,
.page_wrap[data-theme='dark'] .card_visual_elipse_1,
.page_wrap[data-theme='dark'] .card_visual_elipse_2,
.page_wrap[data-theme='dark'] .card_visual_elipse {
	display: block;
}

.page_wrap[data-theme='light'] .design_gradient_wrap {
	display: block;
}

.page_wrap[data-theme='light'] .layout_column_el {
	background-color: var(--theme--footer);
}
.page_wrap[data-theme='dark'] .layout_column_el {
	background-color: var(--theme--footer);
}

/* responsive */
/* tablet */
@media screen and (max-width: 991px) {
	:root {
		/* custom */
		--padding-horizontal--main: 2rem;
		/* adaptive sizes */
		--size--2rem: 1.75rem;
		--size--2-5rem: 2.18rem;
		--size--3rem: 2.52rem;
		--size--3-5rem: 2.73rem;
		--size--4rem: 3rem;
		--size--4-5rem: 3.375rem;
		--size--5rem: 3.75rem;
		--size--5-5rem: 4.125rem;
		--size--6rem: 4.5rem;
		--size--6-5rem: 4.875rem;
		--size--7rem: 5.25rem;
		--size--7-5rem: 5.625rem;
		--size--8rem: 6rem;
		--size--8-5rem: 6.375rem;
		--size--9rem: 6.75rem;
		--size--9-5rem: 7.125rem;
		--size--10rem: 7.5rem;
		--size--11rem: 8.25rem;
		--size--12rem: 9rem;
		--size--13rem: 9.75rem;
		--size--14rem: 10.5rem;
		--size--15rem: 11.25rem;
		--size--16rem: 12rem;
	}
	.item_inner_right_wrap {
		max-width: none !important;
	}
}
/* landscape */
@media screen and (max-width: 767px) {
	:root {
		/* custom */
		--padding-horizontal--main: 1rem;
		/* adaptive sizes */
		--size--2-5rem: 2rem;
		--size--3rem: 2.25rem;
		--size--3-5rem: 2.375rem;
		--size--4rem: 2.5rem;
		--size--4-5rem: 2.75rem;
		--size--5rem: 3rem;
		--size--5-5rem: 3.25rem;
		--size--6rem: 3.5rem;
		--size--6-5rem: 3.75rem;
		--size--7rem: 4rem;
		--size--7-5rem: 4.25rem;
		--size--8rem: 4.5rem;
		--size--8-5rem: 4.75rem;
		--size--9rem: 5rem;
		--size--9-5rem: 5.25rem;
		--size--10rem: 5.5rem;
		--size--11rem: 5.75rem;
		--size--12rem: 6rem;
		--size--13rem: 6.5rem;
		--size--14rem: 7rem;
		--size--15rem: 7.5rem;
		--size--16rem: 8rem;
	}
}



/* Base datetime edit styles */
::-webkit-datetime-edit,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text {
	color: var(--theme--text); 
}

::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-week-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-ampm-field {
	color: var(--theme--text); 
	background-color: transparent; 
}

::-webkit-inner-spin-button {
	display: none;
}
:root {
	--color-scheme: none;
}

[data-theme='dark'] {
	--color-scheme: light dark;
}

input[type='date'] {
	color: currentColor !important; 
	color-scheme: var(--color-scheme);
	position: relative;
}
input[type='date']::placeholder {
	opacity: 1; /
}

input[type='date']::-webkit-calendar-picker-indicator {
	position: absolute;
	left: 10px;
	opacity: 0.6;
	color: currentColor; 
}
input[type='date']::-webkit-datetime-edit-text,
input[type='date']::-webkit-datetime-edit-month-field,
input[type='date']::-webkit-datetime-edit-day-field,
input[type='date']::-webkit-datetime-edit-year-field {
	opacity: 0.6;
}
/* regular text style */
input[type='date'].date-input--has-value::-webkit-datetime-edit-text,
input[type='date'].date-input--has-value::-webkit-datetime-edit-month-field,
input[type='date'].date-input--has-value::-webkit-datetime-edit-day-field,
input[type='date'].date-input--has-value::-webkit-datetime-edit-year-field {
	opacity: 1;
}

.block {
	opacity: 0;
	min-width: var(--block--size);
	min-height: var(--block--size);
	border: var(--block--border-width) solid var(--block--border);
	background-color: var(--block--background);
	visibility: hidden;
	transition: none;
	pointer-events: auto;
}

.block_highlight {
	border-color: var(--block--border-hover);
	background-color: var(--block--background-hover);
}

.background_gradient_wrap {
	position: relative;
	top: -17rem;
	left: -7rem;
	width: 100%;
	height: 100%;
}

.background_gradient_contain {
	position: absolute;
	width: 73.688rem;
	height: 73.688rem;
}

.background_gradient_portfolio {
	position: absolute;
	width: 41.5rem;
	height: 27.375rem;
	left: 88.625rem;
	top: 30rem;

	background: var(--theme--gradient-ps);
	mix-blend-mode: normal;
	filter: blur(9.375rem);
	transform: matrix(0.48, -0.88, -0.88, -0.48, 0, 0);
}

.layout_illu_wrap {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.layout_illu_contain {
	overflow: visible;
	width: 943.74px;
	height: 868.69px;
}
.nav_visual_wrap {
	opacity: 0;
	animation: fade-in 2s ease-in forwards;
}
/* nav visual elipse */
.nav_visual_elipse {
	width: 784.43px;
	height: 626.39px;
	left: calc(50% - 784.43px / 2 - 363.93px);
	top: 680px;

	background: #5d85ea;
	mix-blend-mode: color;
	filter: blur(150px);
	opacity: 0;
	animation: fade-in 2.5s ease-in forwards;
}

.layout_ellipse_contain {
	position: absolute;
	width: 697.34px;
	height: 363.5px;
	background: #1d52dc;
	mix-blend-mode: normal;
	filter: blur(149.055px);
	transform: rotate(-62deg);
	border-radius: 50%;
	opacity: 0;
	animation: fade-in 3s ease-in forwards;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.card_visual_elipse {
	position: absolute;
	width: 439px;
	height: 291.55px;

	background: #1d52dc;
	mix-blend-mode: normal;
	opacity: 0.84;
	filter: blur(120px);
}
.card_visual_elipse_1 {
	position: absolute;
	width: 213.65px;
	height: 322.12px;

	background: #1d52dc;
	mix-blend-mode: normal;
	filter: blur(127.5px);
	transform: rotate(-61.93deg), skewX(-61.93deg);
}
.card_visual_elipse_2 {
	position: absolute;
	width: 287.96px;
	height: 355.39px;
	left: 990px;
	top: 117px;

	background: #f452be;
	mix-blend-mode: normal;
	opacity: 0.52;
	filter: blur(150px);
	transform: rotate(-61.93deg);
}
.card_visual_elipse_3 {
	position: absolute;
	width: 451.24px;
	height: 361.12px;
	left: 80%;
	top: 25%;

	background: #81a0ef;
	mix-blend-mode: normal;
	filter: blur(150px);
	transform: rotate(-45deg);
}
.layout_team_visual_wrap,
.card_visual_img {
	background-position: center;
	object-fit: cover;
	transition: background-image 0.5s ease-in-out;
}

.page_wrap[data-theme='light'] .card_visual_img {
	background-image: url('https://uploads-ssl.webflow.com/660c02547be88ea2da5356e0/665753aca69b1b2b58d98be1_illu4_light.png');
}

.page_wrap[data-theme='dark'] .card_visual_img {
	background-image: url('https://uploads-ssl.webflow.com/660c02547be88ea2da5356e0/665753ac28d33cc7122bd4ba_illu4_dark.png');
}

.layout_split_card:hover {
	position: relative;
	border-radius: var(--radius--main);
	background: linear-gradient(
		112deg,
		var(--theme--border-alt) 70.5%,
		rgba(0, 72, 255, 0.65) 100%
	);
	overflow: hidden;
	transition: background 0.3s ease-out;
}

.split_card_content {
	position: relative;
	background: var(--theme--card-bg);
	transition: background 0.2s ease-out;
	overflow: hidden;
}

.split_card_content::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 100%;
	background: linear-gradient(
		111.3deg,
		rgba(251, 251, 251, 0) 72.5%,
		rgba(0, 72, 255, 0.4) 135%
	);
	transition: left 0.15s ease-out, opacity 0.25s ease-out;
	opacity: 0;
	pointer-events: none;
	z-index: 0;
}

.split_card_content:hover::before {
	left: 0;
	opacity: 1;
}

/* .blog_item_contain:hover {
	position: relative;
} */
.blog_item_contain {
	position: relative;
	overflow: hidden;
}
.blog_item_contain::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 100%;
	background: linear-gradient(
		111.3deg,
		rgba(251, 251, 251, 0) 72.5%,
		rgba(0, 72, 255, 0.4) 155%
	);
	transition: left 0.25s ease-out, opacity 0.35s ease-out;
	opacity: 0;
	pointer-events: none;
	z-index: 0;
}

.blog_item_contain:hover::before {
	left: 0;
	opacity: 1;
}
